%formFieldFocus {
    border-color: var(--interactive-color);
    fill: var(--interactive-color);
}

.call-request-form {
    padding: 40px;
}

.call-request-form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width:$desctopWidth) {
        line-height: 1.15;
    }
}

.call-request-form__fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-request-form__field {
    padding: 11px 12px 11px 42px;

    border: 1px solid var(--modal-field-border);
    border-radius: 4px;

    transition: border-color var(--transitions-time) var(--transitions);

    &:focus+.call-request-form__icon,
    &:focus {
        @extend %formFieldFocus;
    }
}

.call-request-form__textarea {
    padding: 12px 16px;

    border: 1px solid var(--modal-field-border);
    border-radius: 4px;
}

.call-request-form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: --modal-textarea-placeholder;

    @media screen and (min-width:$desctopWidth) {
        font-size: 12px;
        line-height: 1.16;
    }
}

.call-request-form__label {
    position: relative;

    display: flex;
    flex-direction: column;

    user-select: none;

    &:focus>.call-request-form__field,
    &:focus>.call-request-form__icon {
        @extend %formFieldFocus;
    }
}

.call-request-form__icon {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateX(50%);

    transition: fill var(--transitions-time) var(--transitions);
}

.call-request-form__text {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.call-request-form__textarea {
    margin-bottom: 20px;

    height: 120px;
    resize: none;

    transition: border-color var(--transitions-time) var(--transitions);
}

.call-request-form__textarea:focus {
    border-color: var(--interactive-color);
}

.call-request-form__checkbutton-label-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

    @media screen and (min-width:$desctopWidth) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.call-request-form__link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--interactive-color);

    @media screen and (min-width:$desctopWidth) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.call-request-form__submit-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color-on-dark-bg);
    background-color: var(--interactive-color);
}

.call-request-form__label--end-label {
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.call-request-form__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;

    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_1_5947)'%3E%3Cpath d='M4.496 7.312L1.888 4.824 1 5.665 4.496 9 12 1.841 11.118 1 4.496 7.312z' fill='%23fff'/%3E%3Cpath d='M1.957 4.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' stroke='%23fff' stroke-width='.2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_1_5947' x='-3.29' y='-3.276' width='19.58' height='16.553' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_1_5947'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_backgroundBlur_1_5947' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;

    transition: background-size var(--transitions-time) var(--transitions);

    &:checked {
        background-color: var(--interactive-color);
        background-size: 11px 8px;
        border-color: transparent;
    }
}