.what-we-do {
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $desctopWidth) {
        width: 100%;
        height: 100%;
        opacity: 1;
        padding-bottom: 94px;
    }
}

.what-we-do__items {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.what-we-do__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.what-we-do__description {
    display: inline-block;
    width: 100%;

    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--text-color-on-dark-bg);
    background-color: var(--what-we-do-bg-color);

    transform: translateY(-100%);
}